body{
    font-family: 'jost';
    src: url('../fonts/jost.ttf') format('truetype');
}
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap");
h1{
    src: url('../fonts/hey-august.ttf') format('truetype');
}