// Sobreescritura de estilos de boostrap-vue
.btn{
    letter-spacing: 0.5px;
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    border-radius: 1.5rem;
}

.form-control{
    letter-spacing: 0.5px;
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    border-radius: 1.5rem;
}

.primary{
    color: var(--primary) !important;
}

.secondary{
    color: var(--secondary) !important;
}

.white{
    color: #FFFFFF !important;
}

.form-width{
    max-width: 75%;
}

.rounded {
    border-radius:.90rem!important
}

.carousel-control-prev, .carousel-control-next{
    background-color: #464646b3;
    width: 10%;
}